body {
  margin: 0;
  padding: 0;
  padding-top: 70px; /* for navbar */
  font-family: sans-serif;
}

.ais-SearchBox__root {
  margin: auto;
  max-width: 400px;
  display: block;
}

/*custom css*/

em {
  background-color: #d5f4e6;
  font-style: normal;
}

a .fa {
  color: #777;
}
